.article-creator-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-creator-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.toggle-wrapper {
    margin-top: 1rem;
    display: flex;
}

.toggle-wrapper > label {
    margin-right: 0.5rem;
}

.article-creator-full-width-input {
    width: 100%;
}

/* Example Styles for React Tags*/
#app {
    padding: 40px;
}

.red {
    background: red;
}
