.wrapper {
    background: #000000;
    height: 80px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 100%;
}

.actions {
    display: flex;
    align-items: center;
}

.actions-dropdown {
    cursor: pointer;
}

.actions-dropdown-avatar {
    height: 30px;
    width: 30px;
}

.actions ul {
    display: flex;
    list-style: none;
}

.actions ul li a, .actions ul li span, .actions ul li div {
    text-decoration: none;
    margin: 0 0.5rem;
    color: #9ea9aa;
    display: flex;
}

.logo {
    display: flex;
    align-self: center;
    height: 30px;
    cursor: pointer;
}
